<%- include('plugins/header'); -%>
    <section class="contact">
        <h1 class="title">contact</h1>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspLorem ipsum dolor sit amet, vehicula aliquam iaculis nulla amet in id, in quo proin aut purus, sed pretium erat nec dui est phasellus, morbi fermentum lectus mollis ut dolor. Magna nec velit id provident augue platea, consequat nullam amet, libero vel parturient libero consequat turpis in. Vulputate non maecenas enim ac scelerisque in, in lobortis in dolor amet neque, lacus aenean laoreet velit id imperdiet. Diam nam morbi sociosqu, nisl pellentesque eros tellus malesuada eros. Ut vitae exercitationem vitae, mi massa sodales vitae, cras ad donec enim dolor illum, posuere ante, mauris pede ultricies in in.</p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspDui eu, nisl ligula mollis, ullamcorper arcu nec nulla urna donec nibh, nibh et ut nec nec dolor, purus ut. Vestibulum eu leo ut ut ac ornare, varius ut, vel mauris erat proin magna sodales, in donec dui mauris. Augue eros consequat ipsum metus lectus metus, vestibulum hendrerit, ut quis lectus ut. At est vel, elit pretium quis sint, morbi nec rutrum, quam condimentum est, elementum pellentesque quam tristique pharetra. Nulla sed lacinia consequat, id at eros mollis orci, a metus sit ligula faucibus ac dolor. Elit turpis sit nunc metus, libero imperdiet ut dui, elit urna tellus ipsum odio, facilisis orci mauris. Sollicitudin ut tempus vel. Justo lobortis natoque perspiciatis vestibulum aliquid, omnis quisque nec, adipiscing at bibendum, vehicula arcu proin rhoncus feugiat. Vestibulum erat fringilla eu ante vitae, dictum ut neque posuere praesent dolor, convallis non penatibus placerat, dapibus amet. Metus tincidunt accumsan, nec posuere malesuada.</p>
    </section>
<%- include('plugins/footer'); -%>

    
